.blockTitle {
  font-size: clamp(40px, 2.25rem + 1.25vw, 51px);
  line-height: 1.1;
  margin: 60px 0;
  @media (max-width: 768px) {
    margin: 60px 0 40px 0;
  }

}

.postList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  .postItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }


    .postImage {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
    }

    h2 {
      margin: 16px 0;
      text-transform: capitalize;
      font-size: clamp(16px, 0.818rem + 0.91vw, 24px);
    }

    .postContent {
      flex-grow: 1;
    }

    .readMoreButton {
      align-self: flex-end;
      background-color: var(--color-button);
      color: white;
      text-align: center;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 4px;
      transition: background-color 0.3s, box-shadow 0.3s;
      font-weight: bold;
      margin-top: 20px;
      display: inline-block;

      &:hover {
        background-color: var(--hover-button);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      &:active {
        background-color: #004494;
      }
    }
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

}

.pagination {
  display: flex;
  margin-top: 25px;
  gap: 20px;
  grid-column: 1 / -1;
  margin-bottom: 25px;
}
